@import url(https://fonts.google.com/specimen/Outfit);
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");

body {
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  padding: 20px;
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 15px;
  max-width: 20rem;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 23px;
  color: hsl(218, 44%, 22%);
}

.qr-img {
  border-radius: 15px;
  display: block;
  max-width: 100%;
}

.caption {
  font-family: "Press Start 2P", system-ui;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
  